.RadCalendar_Combo {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadCalendar_Combo .rcTitlebar {
    border-color: #8BC34A;
    color: #ffffff;
    background-color: #8BC34A;
    padding: 5px; }
  .RadCalendar_Combo .rcPrev,
  .RadCalendar_Combo .rcNext,
  .RadCalendar_Combo .rcFastPrev,
  .RadCalendar_Combo .rcFastNext {
    margin: 0;
    padding: 8px;
    border: 0 none;
    color: #ffffff;
    background-color: #8BC34A;
    border-radius: 3em;
    border-color: #8BC34A;
    color: #ffffff;
    background-color: #8BC34A; }
    .RadCalendar_Combo .rcPrev:hover,
    .RadCalendar_Combo .rcNext:hover,
    .RadCalendar_Combo .rcFastPrev:hover,
    .RadCalendar_Combo .rcFastNext:hover {
      background-color: rgba(255, 255, 255, 0.24); }
  .RadCalendar_Combo .t-font-icon:before {
    font-size: 18px; }
  .RadCalendar_Combo .rcTitle {
    font-size: 1.143em;
    line-height: 1.25em;
    padding: 8px 0; }
  .RadCalendar_Combo .rcMain {
    border-color: #CFD8DC;
    padding: 4px; }
    .RadCalendar_Combo .rcMain td {
      border-color: transparent;
      text-align: center; }
  .RadCalendar_Combo .rcRow a,
  .RadCalendar_Combo .rcRow span {
    border-radius: 3em;
    color: #455A64;
    padding: 7px;
    line-height: 1.4285714286;
    width: 1.4285714286em; }
  .RadCalendar_Combo span.t-ripple,
  .RadCalendar_Combo span.t-ripple-container {
    padding: 0; }
  .RadCalendar_Combo .rcWeek,
  .RadCalendar_Combo .rcRow th {
    color: rgba(69, 90, 100, 0.6);
    line-height: 1.4285714286;
    width: 1.4285714286em; }
  .RadCalendar_Combo .rcWeek th {
    text-align: center;
    padding: 9px; }
  .RadCalendar_Combo .rcRow {
    /*td:last-child {
			padding-right: 8px;
		}

		&:last-child > th {
			padding-bottom: 17px;
		}

		&:last-child > td {
			padding-bottom: 8px;
		}*/ }
    .RadCalendar_Combo .rcRow th {
      padding: 9px 9px 9px 17px;
      padding: 9px; }
  .RadCalendar_Combo .rcMain .rcOtherMonth a,
  .RadCalendar_Combo .rcMain .rcOutOfRange span {
    color: rgba(69, 90, 100, 0.4); }
  .RadCalendar_Combo .rcToday a {
    color: #03A9F4;
    background-color: transparent; }
  .RadCalendar_Combo .rcSelected a {
    background-color: #03A9F4; }
  .RadCalendar_Combo .rcHover a {
    color: #455A64;
    background-color: #ECEFF1; }
  .RadCalendar_Combo .rcFocus a {
    box-shadow: 0 0 0 1px rgba(178, 192, 198, 0.5) inset; }
  .RadCalendarPopupShadows .RadCalendar_Combo {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .RadCalendarPopupShadows .RadCalendar_Combo .rcMain {
      border: 0 none; }

.RadCalendarMonthView_Combo {
  border: 0 none;
  padding: 0;
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  font-family: "Roboto", "Noto", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .RadCalendarMonthView_Combo td {
    padding: 0; }
  .RadCalendarMonthView_Combo tr:first-child td {
    padding-top: 8px; }
  .RadCalendarMonthView_Combo tr:nth-last-child(2) td {
    padding-bottom: 8px; }
  .RadCalendarMonthView_Combo a {
    padding: 6px 13px;
    color: #455A64;
    border: 0 none;
    border-radius: 0;
    box-sizing: border-box;
    min-width: 64px; }
  .RadCalendarMonthView_Combo a:hover {
    background-color: #ECEFF1;
    color: #455A64; }
  .RadCalendarMonthView_Combo .rcSelected a {
    background: transparent;
    color: #03A9F4; }
  .RadCalendarMonthView_Combo td.rcButtons {
    background-color: #f4f7f8;
    border-top: 1px solid #CFD8DC;
    text-align: right;
    padding: 6px 10px; }
    .RadCalendarMonthView_Combo td.rcButtons a {
      text-transform: uppercase;
      background-color: transparent;
      border: 0 none;
      padding: 8px;
      min-width: 64px;
      color: #455A64; }
      .RadCalendarMonthView_Combo td.rcButtons a:hover {
        background-color: rgba(69, 90, 100, 0.12); }
  .RadCalendarMonthView_Combo #rcMView_Today {
    float: left; }
  .RadCalendarMonthView_Combo #rcMView_OK {
    color: #8BC34A; }
    .RadCalendarMonthView_Combo #rcMView_OK:hover {
      background-color: rgba(139, 195, 74, 0.12); }

.RadPicker_Combo {
  font-family: "Roboto", "Noto", sans-serif; }
  .RadPicker_Combo .riLabel {
    font-size: .857em;
    color: #607D8B;
    font-weight: 500;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .RadPicker_Combo .RadInput {
    padding-right: 50px;
    position: relative; }
    .RadPicker_Combo .RadInput:before {
      content: "";
      border-bottom: 1px solid;
      border-color: inherit;
      position: absolute;
      left: 13px;
      right: 13px;
      bottom: 0; }
  .RadPicker_Combo .RadInputError:before {
    border-bottom-width: 2px; }
  .RadPicker_Combo.RadDateTimePicker .RadInput {
    padding-right: 88px; }
  .RadPicker_Combo input.riTextBox,
  .RadPicker_Combo input.riTextBox:hover {
    border-color: transparent;
    box-shadow: none;
    padding-right: 0; }
  .RadPicker_Combo .rcSelect {
    bottom: 0;
    right: 0;
    top: 0; }
  .RadPicker_Combo .rcCalPopup,
  .RadPicker_Combo .rcTimePopup {
    border-left: 1px solid transparent;
    color: #607D8B;
    outline: none; }
    .RadPicker_Combo .rcCalPopup:focus,
    .RadPicker_Combo .rcTimePopup:focus {
      background-color: #ECEFF1; }
    .RadPicker_Combo .rcCalPopup:before,
    .RadPicker_Combo .rcTimePopup:before {
      font-family: "Material Icons";
      font-size: 18px; }
  .RadPicker_Combo.rcCalPopupOpen .rcCalPopup,
  .RadPicker_Combo.rcMYPopupOpen .rcCalPopup,
  .RadPicker_Combo.rcTimePopupOpen .rcTimePopup {
    background-color: #ECEFF1; }
  .RadPicker_Combo:hover .RadInput:not(.RadInputDisabled), .RadPicker_Combo.rcMYPopupOpen .RadInput:not(.RadInputDisabled), .RadPicker_Combo.rcTimePopupOpen .RadInput:not(.RadInputDisabled), .RadPicker_Combo.rcCalPopupOpen .RadInput:not(.RadInputDisabled) {
    background-color: #f8fafb;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2);
    border-color: transparent; }
    .RadPicker_Combo:hover .RadInput:not(.RadInputDisabled):before, .RadPicker_Combo.rcMYPopupOpen .RadInput:not(.RadInputDisabled):before, .RadPicker_Combo.rcTimePopupOpen .RadInput:not(.RadInputDisabled):before, .RadPicker_Combo.rcCalPopupOpen .RadInput:not(.RadInputDisabled):before {
      display: none; }
  .RadPicker_Combo:hover .rcCalPopup,
  .RadPicker_Combo:hover .rcTimePopup, .RadPicker_Combo.rcMYPopupOpen .rcCalPopup,
  .RadPicker_Combo.rcMYPopupOpen .rcTimePopup, .RadPicker_Combo.rcTimePopupOpen .rcCalPopup,
  .RadPicker_Combo.rcTimePopupOpen .rcTimePopup, .RadPicker_Combo.rcCalPopupOpen .rcCalPopup,
  .RadPicker_Combo.rcCalPopupOpen .rcTimePopup {
    border-color: #ECEFF1; }
  .RadPicker_Combo .rcCalPopup:before {
    content: "\e8df"; }
  .RadPicker_Combo .rcTimePopup:before {
    content: "\e8b5"; }

.RadCalendarMultiView_Combo .rcMain {
  border: 0 none;
  padding: 0; }

.RadCalendarMultiView_Combo .rcMainTable {
  border-collapse: collapse; }

.RadCalendarMultiView_Combo .rcCalendar {
  border: 0 none; }

.RadCalendarMultiView_Combo span.rcTitle {
  font-size: 1.429em;
  line-height: 1;
  padding: 8px 0; }

.RadCalendarMultiView_Combo .rcMainTable .rcTitle {
  background-color: #8BC34A;
  color: #ffffff;
  border: 0 none;
  border-top: 1px solid #ffffff;
  font-size: 1.143em;
  line-height: 1.25em;
  padding: 14px 0; }

.RadCalendarMultiView_Combo .rcRow > :first-child,
.RadCalendarMultiView_Combo .rcWeek > :first-child {
  border-left: 1px solid #CFD8DC; }

.RadCalendarMultiView_Combo .rcLastCol .rcRow > :last-child,
.RadCalendarMultiView_Combo .rcLastCol .rcWeek > :last-child {
  border-right: 1px solid #CFD8DC; }

.RadCalendarMultiView_Combo td.rcLastRow {
  border-bottom: 1px solid #CFD8DC; }

.RadCalendarTimeView_Combo {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  border: 0 none;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
  font-family: "Roboto", "Noto", sans-serif; }
  .RadCalendarTimeView_Combo th {
    background-color: #8BC34A;
    color: #ffffff;
    line-height: normal;
    font-size: 1.143em;
    padding: 14px 10px; }
  .RadCalendarTimeView_Combo td {
    padding: 0;
    border-color: transparent; }
  .RadCalendarTimeView_Combo tr:nth-child(2) td {
    padding-top: 8px; }
  .RadCalendarTimeView_Combo tr:last-child td {
    padding-bottom: 8px; }
  .RadCalendarTimeView_Combo a {
    padding: 6px 13px;
    color: #455A64;
    border: 0 none;
    border-radius: 0; }
  .RadCalendarTimeView_Combo td.rcSelected a {
    color: #03A9F4; }
  .RadCalendarTimeView_Combo td.rcHover a {
    background-color: #ECEFF1; }
  .RadCalendarTimeView_Combo .rcFooter {
    border-color: #CFD8DC; }
