.RadComboBox_Combo {
  color: #455A64;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadComboBox_Combo .rcbInner {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: transparent;
    padding: 8px 50px 8px 13px;
    border-width: 0;
    border-radius: 2px;
    transition: all 0.2s ease-in-out; }
    .RadComboBox_Combo .rcbInner:before {
      content: "";
      border-bottom: 1px solid;
      border-color: inherit;
      position: absolute;
      left: 13px;
      right: 13px;
      bottom: 0; }
  .RadComboBox_Combo .rcbInner.rcbToggleButtonHidden {
    padding-right: 13px; }
  .RadComboBox_Combo .p-icon:before {
    font-size: 18px;
    font-family: "Material Icons";
    content: "\e5c5"; }
  .RadComboBox_Combo .rcbActionButton {
    padding: 8px;
    border-color: transparent;
    border-radius: 0 2px 2px 0;
    transition: all 0.2s ease-in-out; }
    .RadComboBox_Combo .rcbActionButton .p-icon {
      width: 1.42857143em; }
  .RadComboBox_Combo .rcbLabel {
    padding-top: 10px;
    font-weight: 500;
    font-size: 0.857em;
    color: #607D8B; }
  .RadComboBox_Combo .rcbHovered {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .RadComboBox_Combo .rcbHovered:before {
      display: none; }
  .RadComboBox_Combo .rcbHovered .rcbActionButton {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadComboBox_Combo .rcbFocused,
  .RadComboBox_Combo .rcbExpanded {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .RadComboBox_Combo .rcbFocused:before,
    .RadComboBox_Combo .rcbExpanded:before {
      display: none; }
    .RadComboBox_Combo .rcbFocused .rcbActionButton,
    .RadComboBox_Combo .rcbExpanded .rcbActionButton {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #ffffff; }
  .RadComboBox_Combo .rcbReadOnly.rcbHovered {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadComboBox_Combo .rcbReadOnly.rcbFocused {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff; }

.RadComboBox_Combo_rtl .rcbInner {
  padding-left: 30px;
  padding-right: 13px; }

.RadComboBox_Combo_rtl .rcbInner.rcbToggleButtonHidden {
  padding-left: 13px; }

.RadComboBox_Combo_rtl .rcbActionButton {
  border-radius: 2px 0 0 2px; }

.RadComboBoxDropDown_Combo {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  border: 0;
  border-radius: 2px;
  font-family: "Roboto", "Noto", sans-serif;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .RadComboBoxDropDown_Combo .rcbList {
    padding: 8px 0; }
  .RadComboBoxDropDown_Combo .rcbHeader,
  .RadComboBoxDropDown_Combo .rcbFooter,
  .RadComboBoxDropDown_Combo .rcbCheckAllItems,
  .RadComboBoxDropDown_Combo .rcbMoreResults {
    border-color: #CFD8DC;
    padding: 6px 13px; }
  .RadComboBoxDropDown_Combo .rcbItem,
  .RadComboBoxDropDown_Combo .rcbHovered,
  .RadComboBoxDropDown_Combo .rcbSelected,
  .RadComboBoxDropDown_Combo .rcbDisabled,
  .RadComboBoxDropDown_Combo .rcbLoading {
    padding: 6px 13px; }
  .RadComboBoxDropDown_Combo .rcbItem > label,
  .RadComboBoxDropDown_Combo .rcbHovered > label,
  .RadComboBoxDropDown_Combo .rcbSelected > label,
  .RadComboBoxDropDown_Combo .rcbDisabled > label,
  .RadComboBoxDropDown_Combo .rcbCheckAllItems > label,
  .RadComboBoxDropDown_Combo .rcbCheckAllItemsHovered > label {
    margin: -6px -13px;
    padding: 6px 13px; }
  .RadComboBoxDropDown_Combo .rcbSeparator {
    font-weight: 500;
    color: #ffffff;
    background-color: #8BC34A; }
  .RadComboBoxDropDown_Combo .p-icon:before {
    font-size: 18px;
    font-family: "Material Icons";
    content: "\e5c5"; }
  .RadComboBoxDropDown_Combo .rcbHovered {
    color: #455A64;
    background-color: #ECEFF1; }
  .RadComboBoxDropDown_Combo .rcbSelected {
    color: #03A9F4;
    background-color: transparent; }
  .RadComboBoxDropDown_Combo .rcbLoading {
    color: #455A64;
    background-color: #ECEFF1; }
  .RadComboBoxDropDown_Combo .rcbItem em {
    color: #455A64;
    background-color: #ECEFF1; }
  .RadComboBoxDropDown_Combo .rcbCheckAllItems {
    padding: 6px 13px; }
  .RadComboBoxDropDown_Combo .rcbCheckAllItemsHovered {
    color: #455A64;
    background-color: #ECEFF1;
    padding: 6px 13px; }
