.RadImageGallery_Combo {
  color: #455A64;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadImageGallery_Combo .rigDescriptionBox {
    background-color: rgba(69, 90, 100, 0.7);
    color: #f8fafb; }
  .RadImageGallery_Combo .rigToolbar,
  .RadImageGallery_Combo .rigCloseButton,
  .RadImageGallery_Combo .rigDrawerButton {
    background-color: rgba(244, 247, 248, 0.9);
    color: #455A64; }
  .RadImageGallery_Combo .rigProgressBar div {
    background-color: #03A9F4; }
  .RadImageGallery_Combo .rigPager {
    background-color: #f4f7f8;
    color: #455A64;
    height: auto;
    padding: 5px; }
    .RadImageGallery_Combo .rigPager a {
      color: #455A64;
      text-align: center;
      border-width: 0;
      padding: 8px;
      min-width: 1.4285714286em; }
      .RadImageGallery_Combo .rigPager a:hover {
        border-color: #ECEFF1;
        color: #455A64;
        background-color: #ECEFF1;
        border-radius: 90px; }
      .RadImageGallery_Combo .rigPager a.rigCurrentPage {
        border-bottom: 2px solid #8BC34A;
        color: #8BC34A;
        background: none;
        border-radius: 0;
        margin-bottom: -5px;
        padding-bottom: 11px; }
  .RadImageGallery_Combo .rigInfoPart {
    font-size: .857em;
    color: #607D8B;
    font-weight: 500;
    line-height: 1.6666666667;
    padding-top: 8px;
    padding-bottom: 8px; }
  .RadImageGallery_Combo .rigDotList > a {
    border-color: #8BC34A; }
  .RadImageGallery_Combo .rigDotList a span {
    background-color: white; }
  .RadImageGallery_Combo .rigDotList a.rigCurrentItem span {
    background-color: #8BC34A;
    border-color: white; }
  .RadImageGallery_Combo .rigTooltip {
    background-color: #455A64;
    border-color: #455A64; }
    .RadImageGallery_Combo .rigTooltip:after {
      border-top-color: #455A64; }
  .RadImageGallery_Combo .rigToolbar .rigActionButton {
    color: #455A64; }
    .RadImageGallery_Combo .rigToolbar .rigActionButton:hover {
      color: #03A9F4; }
