.RadInput_Combo,
.RadInputMgr_Combo {
  font-family: "Roboto", "Noto", sans-serif; }

.RadInput {
  border-color: transparent;
  border-bottom-color: #CFD8DC; }
  .t-ie .RadInput_Combo,
  .t-ie .RadInputMgr_Combo {
    height: 36px;
    height: calc(1.4285714286em + 16px); }
  .RadInput_Combo .riTextBox, .RadInputMgr_Combo {
    color: #455A64;
    background: transparent;
    border-color: transparent;
    border-bottom-color: #CFD8DC;
    outline: none; }
  .RadInput_Combo {
    border-bottom-color: #CFD8DC;
    padding: 0 13px; }
    .RadInput_Combo input.riTextBox {
      padding: 8px 0 7px;
      border-width: 0 0 1px; }
  .RadInputMgr_Combo {
    padding: 8px 0 7px;
    border-width: 0 0 1px;
    margin: 0 8px;
    color: #455A64; }
  .RadInput_Combo .riLabel {
    font-size: .857em;
    color: #607D8B;
    font-weight: 500;
    margin-left: -13px;
    padding-right: 25px;
    padding-top: 8px;
    padding-bottom: 8px; }
  .RadInput_Combo a {
    padding-left: 8px;
    padding-right: 8px; }
  .RadInput_Combo .riSelect {
    right: 5px; }
    .RadInput_Combo .riSelect a {
      color: #607D8B;
      border-color: transparent; }
      .RadInput_Combo .riSelect a:hover {
        color: #263238; }
      .RadInput_Combo .riSelect a:before {
        font-family: "Material Icons";
        font-size: 18px; }
  .RadInput_Combo.RadInputDisabled a:hover,
  .RadInput_Combo.RadInputDisabled a:active {
    color: #607D8B; }
  .RadInput_Combo .riDown:before {
    content: "\e5c5";
    margin-top: -13px; }
  .RadInput_Combo .riUp:before {
    content: "\e5c7";
    margin-top: -6px; }
  .RadInput_Combo .riButton:before {
    content: "\e5d9"; }
  .RadInput_Combo .riEmpty, .RadInput_Empty_Combo {
    color: rgba(69, 90, 100, 0.6);
    font-style: normal; }
  .RadInput_Combo .riHover, .RadInput_Hover_Combo {
    color: #455A64;
    border-bottom-color: #90A4AE; }
  .RadInput_Combo .riFocused, .RadInput_Focused_Combo {
    color: #455A64;
    border-bottom-color: #8BC34A;
    box-shadow: 0 -1px 0 0px #8BC34A inset; }
  .RadInput_Combo .riRead, .RadInput_Read_Combo {
    color: rgba(69, 90, 100, 0.8); }
  .RadInput_Combo .riDisabled, .RadInput_Disabled_Combo {
    color: #babbbc;
    border-bottom-color: #ECEFF1; }
  .RadInput_Combo .riError, .RadInput_Error_Combo {
    border-color: #f34235;
    box-shadow: 0 -1px 0 0px #f34235 inset; }
  .RadInput_Combo.RadInputError {
    border-color: #f34235;
    color: #f34235; }
  .RadInput_Combo.RadInputError {
    border-color: #f34235;
    color: #f34235; }
    .RadInput_Combo.RadInputError:after {
      display: none; }
  .RadInput.riContButton .riDown {
    margin-left: -37px;
    margin-left: calc(-17px - 1.42857em); }
