.RadMap_Combo {
  font-family: "Roboto", "Noto", sans-serif; }
  .RadMap_Combo .k-header,
  .RadMap_Combo .k-widget,
  .RadMap_Combo .k-popup {
    color: #455A64; }
  .RadMap_Combo .k-widget,
  .RadMap_Combo .k-header {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    background-image: linear-gradient(); }
  .RadMap_Combo.k-widget.k-tooltip {
    background-color: #455A64;
    color: #ffffff;
    border-color: #455A64;
    font-family: "Roboto", "Noto", sans-serif;
    font-size: 13px;
    opacity: 0.9 !important; }
  .RadMap_Combo .k-i-close:before,
  .RadMap_Combo .k-i-close:hover:before {
    color: #ffffff; }
  .RadMap_Combo .k-callout-n {
    border-bottom-color: #455A64; }
  .RadMap_Combo .k-callout-e {
    border-left-color: #455A64; }
  .RadMap_Combo .k-callout-s {
    border-top-color: #455A64; }
  .RadMap_Combo .k-callout-w {
    border-right-color: #455A64; }
  .RadMap_Combo .k-button,
  .RadMap_Combo div.k-navigator > .k-button {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    color: #607D8B; }
  .RadMap_Combo div.k-navigator > .k-button {
    border-color: transparent; }
  .RadMap_Combo div.k-navigator > .k-button:hover,
  .RadMap_Combo div.k-navigator > .k-button:focus {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1;
    color: #607D8B; }
  .RadMap_Combo div.k-navigator > .k-button:focus {
    outline-width: thin;
    outline-offset: -2px;
    outline-color: #ECEFF1; }
  .RadMap_Combo div.k-navigator > .k-button:active {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC;
    color: #607D8B; }
  .RadMap_Combo .k-button:hover,
  .RadMap_Combo .k-button:active,
  .RadMap_Combo .k-button:focus {
    color: #263238; }
  .RadMap_Combo .k-marker:before {
    color: #e60c0e; }
  .RadMap_Combo .k-touch-scrollbar, .RadMap_Combo.k-tooltip,
  .RadMap_Combo .k-animation-container, .RadMap_Combo.k-animation-container {
    border-radius: 0; }
  .RadMap_Combo .k-navigator {
    width: 84px;
    height: 84px; }
  .RadMap_Combo div.k-navigator > .k-button {
    width: 32px;
    height: 32px; }
  .RadMap_Combo div.k-navigator .k-navigator-up {
    margin-left: -16px; }
  .RadMap_Combo div.k-navigator .k-navigator-right {
    margin-top: -16px; }
  .RadMap_Combo div.k-navigator .k-navigator-down {
    margin-left: -16px; }
  .RadMap_Combo div.k-navigator .k-navigator-left {
    margin-top: -16px; }
  .RadMap_Combo .k-buttons-horizontal .k-button {
    width: 26px;
    height: 25px; }
  .RadMap_Combo .k-buttons-horizontal .k-zoom-in {
    border-radius: 2px 0 0 2px; }
  .RadMap_Combo .k-buttons-horizontal .k-zoom-out {
    border-radius: 0 2px 2px 0;
    border-left: 1px solid #CFD8DC;
    z-index: 1; }
  .RadMap_Combo .k-marker:before,
  .RadMap_Combo .k-marker-Pin-target:before,
  .RadMap_Combo .k-marker-pin-target:before {
    content: "\e55f";
    font-family: 'Material Icons';
    color: #03A9F4; }
  .RadMap_Combo span.k-marker-Pin:before,
  .RadMap_Combo span.k-marker-pin:before {
    content: "\e55e"; }
  .RadMap_Combo.k-widget.k-tooltip {
    border-radius: 2px; }
  .RadMap_Combo .k-navigator-n,
  .RadMap_Combo .k-navigator-e,
  .RadMap_Combo .k-navigator-s,
  .RadMap_Combo .k-navigator-w {
    position: absolute !important; }
  .RadMap_Combo .t-ripple-container {
    margin-top: -1px;
    margin-left: -1px; }
