.RadMenu_Combo {
  font-family: "Roboto", "Noto", sans-serif; }
  .RadMenu_Combo .rmGroup,
  .RadMenu_Combo .rmMultiColumn {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff;
    padding: 0;
    border-width: 0; }
  .RadMenu_Combo .rmGroup:before,
  .RadMenu_Combo .rmMultiColumn:before,
  .RadMenu_Combo .rmScrollWrap > .rmHorizontal:before,
  .RadMenu_Combo .rmScrollWrap > .rmVertical:before {
    display: none; }
  .RadMenu_Combo .rmVertical > li.rmSeparator {
    margin: 0;
    border-top-color: #e6e5e5;
    border-bottom-color: white; }
  .RadMenu_Combo .rmHorizontal > li.rmSeparator {
    border-left-color: #e6e5e5;
    border-right-color: white; }
  .RadMenu_Combo .rmIcon {
    font-size: 0; }
    .RadMenu_Combo .rmIcon:before {
      font-size: 18px;
      text-indent: 0; }
  .RadMenu_Combo .rmIcon,
  .RadMenu_Combo .rmArrow .rmIcon,
  .RadMenu_Combo .rmGroup .rmIcon {
    width: 24px;
    height: 24px;
    line-height: 24px;
    margin: -12px 0 0 -12px; }
  .RadMenu_Combo .rmIcon:before,
  .RadMenu_Combo .rmExpand:before {
    color: #607D8B;
    font-family: "Material Icons"; }
  .RadMenu_Combo .rmExpand:before {
    right: 8px; }
  .RadMenu_Combo .rmTopArrow .rmIcon:before {
    content: "\e5c7"; }
  .RadMenu_Combo .rmHorizontal .rmToggle .rmIcon:before,
  .RadMenu_Combo .rmHorizontal .rmExpand:before,
  .RadMenu_Combo .rmBottomArrow .rmIcon:before {
    content: "\e5c5"; }
  .RadMenu_Combo .rmLeftArrow .rmIcon:before {
    content: "\e314"; }
  .RadMenu_Combo .rmVertical .rmToggle .rmIcon:before,
  .RadMenu_Combo .rmVertical .rmExpand:before,
  .RadMenu_Combo .rmRightArrow .rmIcon:before {
    content: "\e315"; }
  .RadMenu_Combo .rmArrow {
    border: 0;
    background-color: #ffffff; }
  .RadMenu_Combo .rmLeftArrow,
  .RadMenu_Combo .rmRightArrow {
    width: 36px; }
  .RadMenu_Combo .rmRootGroup {
    padding: 4px;
    border: 0;
    color: #455A64;
    background: #ffffff; }
    .RadMenu_Combo .rmRootGroup.rmVertical {
      background-image: none; }
      .RadMenu_Combo .rmRootGroup.rmVertical > .rmItem,
      .RadMenu_Combo .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem {
        margin-bottom: 2px; }
        .RadMenu_Combo .rmRootGroup.rmVertical > .rmItem.rmLast,
        .RadMenu_Combo .rmRootGroup.rmVertical > .rmRootScrollGroup > .rmItem.rmLast {
          margin-bottom: 0; }
    .RadMenu_Combo .rmRootGroup.rmHorizontal > .rmItem,
    .RadMenu_Combo .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmItem {
      border: 0;
      margin-right: 2px; }
      .RadMenu_Combo .rmRootGroup.rmHorizontal > .rmItem.rmLast,
      .RadMenu_Combo .rmRootGroup.rmHorizontal > .rmRootScrollGroup > .rmItem.rmLast {
        margin-right: 0; }
    .RadMenu_Combo .rmRootGroup .rmRootLink {
      padding: 13px 24px;
      font-size: 1.1428571429em;
      border-radius: 2px; }
    .RadMenu_Combo .rmRootGroup .rmRootLink:hover {
      border-color: #ECEFF1;
      color: #455A64;
      background-color: #ECEFF1; }
    .RadMenu_Combo .rmRootGroup .rmArrow:hover {
      background: #ECEFF1; }
    .RadMenu_Combo .rmRootGroup > .rmArrow:hover .rmIcon:before {
      color: #263238; }
    .RadMenu_Combo .rmRootGroup .rmSelected > .rmRootLink,
    .RadMenu_Combo .rmRootGroup .rmExpanded > .rmRootLink {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #CFD8DC; }
    .RadMenu_Combo .rmRootGroup .rmFocused > .rmRootLink {
      box-shadow: 0 0 0 1px rgba(178, 192, 198, 0.5) inset; }
  .RadMenu_Combo .rmShadows {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .RadMenu_Combo .rmPopup,
  .RadMenu_Combo .rmGroup {
    padding: 16px 0;
    border-radius: 2px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .RadMenu_Combo .rmPopup.rmScrollWrap > .rmVertical,
    .RadMenu_Combo .rmGroup.rmScrollWrap > .rmVertical {
      padding: 16px 0; }
    .RadMenu_Combo .rmPopup.rmScrollWrap > .rmHorizontal,
    .RadMenu_Combo .rmGroup.rmScrollWrap > .rmHorizontal {
      padding: 4px; }
    .RadMenu_Combo .rmPopup .rmLink,
    .RadMenu_Combo .rmGroup .rmLink {
      border: 0;
      padding-top: 6px;
      padding-bottom: 6px; }
    .RadMenu_Combo .rmPopup .rmText,
    .RadMenu_Combo .rmGroup .rmText {
      display: inline-block; }
    .RadMenu_Combo .rmPopup .rmImage,
    .RadMenu_Combo .rmPopup .rmLeftImage,
    .RadMenu_Combo .rmGroup .rmImage,
    .RadMenu_Combo .rmGroup .rmLeftImage {
      left: 8px; }
    .RadMenu_Combo .rmPopup.rmLevel2,
    .RadMenu_Combo .rmGroup.rmLevel2 {
      box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2); }
    .RadMenu_Combo .rmPopup.rmLevel3,
    .RadMenu_Combo .rmGroup.rmLevel3 {
      box-shadow: 0 10px 20px rgba(0, 0, 0, 0.16), 0 6px 6px rgba(0, 0, 0, 0.2); }
    .RadMenu_Combo .rmPopup.rmLevel4,
    .RadMenu_Combo .rmGroup.rmLevel4 {
      box-shadow: 0 14px 28px rgba(0, 0, 0, 0.18), 0 10px 10px rgba(0, 0, 0, 0.2); }
    .RadMenu_Combo .rmPopup.rmLevel5,
    .RadMenu_Combo .rmGroup.rmLevel5 {
      box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2); }
    .RadMenu_Combo .rmPopup .rmLink:hover,
    .RadMenu_Combo .rmGroup .rmLink:hover {
      border-color: #ECEFF1;
      color: #455A64;
      background-color: #ECEFF1; }
    .RadMenu_Combo .rmPopup .rmSelected > .rmLink,
    .RadMenu_Combo .rmGroup .rmSelected > .rmLink {
      border-color: transparent;
      color: #03A9F4;
      background-color: transparent; }
    .RadMenu_Combo .rmPopup .rmExpanded > .rmLink,
    .RadMenu_Combo .rmGroup .rmExpanded > .rmLink {
      border-color: #ECEFF1;
      color: #455A64;
      background-color: #ECEFF1; }
    .RadMenu_Combo .rmPopup .rmFocused > .rmLink,
    .RadMenu_Combo .rmGroup .rmFocused > .rmLink {
      box-shadow: 0 0 0 1px rgba(178, 192, 198, 0.5) inset; }

.RadMenu_Combo_rtl .rmExpand:before {
  right: auto;
  left: 8px; }

.RadMenu_Combo_rtl .rmVertical .rmToggle .rmIcon:before,
.RadMenu_Combo_rtl .rmVertical .rmExpand:before {
  content: "\e314"; }
