.RadNavigation_Combo {
  font-family: "Roboto", "Noto", sans-serif; }
  .RadNavigation_Combo .rnvRootGroupWrapper {
    border: 0;
    padding: 4px;
    color: #455A64;
    background: #ffffff; }
  .RadNavigation_Combo .rnvRootGroup > .rnvItem {
    margin-left: 2px; }
    .RadNavigation_Combo .rnvRootGroup > .rnvItem.rnvFirst {
      margin-left: 0; }
  .RadNavigation_Combo .rnvRootLink {
    border-radius: 2px;
    border-color: transparent; }
  .RadNavigation_Combo .rnvMore {
    border-color: transparent;
    color: #455A64;
    background: #ffffff; }
    .RadNavigation_Combo .rnvMore:before {
      width: 24px;
      height: 24px;
      line-height: 24px;
      font-size: 24px;
      font-family: "Material Icons";
      content: "\e5d2"; }
  .RadNavigation_Combo .rnvHovered > .rnvRootLink {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadNavigation_Combo .rnvHovered.rnvMore {
    color: #263238; }
  .RadNavigation_Combo .rnvSelected.rnvMore,
  .RadNavigation_Combo .rnvSelected > .rnvRootLink,
  .RadNavigation_Combo .rnvExpanded > .rnvRootLink {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC; }
  .RadNavigation_Combo .rnvFocused.rnvMore,
  .RadNavigation_Combo .rnvFocused > .rnvRootLink {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.14), 0 3px 6px rgba(0, 0, 0, 0.2); }

.radSkin_Combo {
  font-family: "Roboto", "Noto", sans-serif; }

.radSkin_Combo .rnvPopup {
  border-radius: 2px;
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  box-shadow: 0 0px 3px rgba(0, 0, 0, 0.08), 0 2px 5px rgba(0, 0, 0, 0.15); }
  .radSkin_Combo .rnvPopup.rnvMorePopup .rnvUL .rnvUL {
    padding: 0; }
  .radSkin_Combo .rnvPopup .rnvUL {
    padding: 16px 0; }
  .radSkin_Combo .rnvPopup .rnvLink {
    color: #455A64; }
  .radSkin_Combo .rnvPopup .rnvHovered > .rnvLink {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .radSkin_Combo .rnvPopup .rnvSelected > .rnvLink,
  .radSkin_Combo .rnvPopup.rnvMorePopup .rnvSelected > .rnvLink {
    border-color: transparent;
    color: #03A9F4;
    background-color: transparent; }
  .radSkin_Combo .rnvPopup .rnvExpanded > .rnvLink {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .radSkin_Combo .rnvPopup.rnvMorePopup .rnvExpanded > .rnvLink {
    color: #263238;
    background: transparent; }
  .radSkin_Combo .rnvPopup .rnvFocused > .rnvLink {
    box-shadow: 0 0 0 1px rgba(178, 192, 198, 0.5) inset; }
