.RadNotification_Combo {
  font-family: "Roboto", "Noto", sans-serif;
  background-color: #ffffff;
  color: #455A64;
  border-color: #ffffff;
  box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2); }
  .RadNotification_Combo.rnShadows {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2); }
  .RadNotification_Combo .rnTitleBar {
    border-color: #8BC34A;
    color: #ffffff;
    background-color: #8BC34A;
    background-image: linear-gradient(); }
  .RadNotification_Combo {
    overflow: visible; }
  .RadNotification_Combo.rnRoundedCorners {
    border-radius: 0.1428571429em; }
  .RadNotification_Combo.rnRoundedCorners .rnTitleBar {
    border-radius: 0.1428571429em 0.1428571429em 0em 0em; }
  .RadNotification_Combo .rnTitleBar {
    margin: -1px;
    padding: 14px 14px 13px; }
    .RadNotification_Combo .rnTitleBar .rnTitleBarTitle {
      padding: 5px 0;
      margin: -7px 0 -3px;
      vertical-align: middle;
      font-size: 1.4285714286em; }
    .RadNotification_Combo .rnTitleBar .rnIcon {
      min-width: 24px;
      min-height: 24px;
      margin: -0.0714285714em 0.4285714286em 0em 0em; }
    .RadNotification_Combo .rnTitleBar .rnIcon:before {
      vertical-align: middle;
      font-size: 24px; }
    .RadNotification_Combo .rnTitleBar .rnCommands {
      right: 1.1428571429em;
      margin: -1.2857142857em 0em 0em; }
      .RadNotification_Combo .rnTitleBar .rnCommands li {
        margin: 0em 0em 0em 0.4285714286em;
        line-height: 1.42857143em;
        padding: 4px 7px;
        border-radius: 45px; }
      .RadNotification_Combo .rnTitleBar .rnCommands li:hover {
        background-color: rgba(255, 255, 255, 0.12); }
      .RadNotification_Combo .rnTitleBar .rnCommands a:before {
        margin: 0.3571428571em 0em 0em; }
  .RadNotification_Combo.rnRtl .rnTitleBar {
    padding: 0.2857142857em 1.5em 0.2857142857em 1.1428571429em; }
    .RadNotification_Combo.rnRtl .rnTitleBar .rnCommands {
      left: 1.1428571429em; }
