.RadScheduler_Combo {
  border-color: #CFD8DC;
  color: #455A64;
  background-color: #ffffff;
  border-radius: 2px;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadScheduler_Combo .rsToolbar > li + li {
    margin: 0; }
  .RadScheduler_Combo .rsToolbar .rsButton {
    border-radius: 0; }
  .RadScheduler_Combo .rsButton {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    padding: 8px 13px;
    border-radius: 2px;
    font-weight: 500;
    text-transform: uppercase;
    transition: all .2s ease-in-out; }
  .RadScheduler_Combo .rsHovered > .rsButton,
  .RadScheduler_Combo .rsButton.rsHovered {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadScheduler_Combo .rsSelected > .rsButton,
  .RadScheduler_Combo .rsPressed > .rsButton,
  .RadScheduler_Combo .rsButton.rsPressed {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #CFD8DC; }
  .RadScheduler_Combo .rsHeader {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    padding: 5px;
    border-radius: 2px 2px 0 0; }
    .RadScheduler_Combo .rsHeader .rsButton {
      border-width: 0; }
    .RadScheduler_Combo .rsHeader .rsNav {
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2);
      border-radius: 2px; }
    .RadScheduler_Combo .rsHeader .rsNav .rsPrevDay,
    .RadScheduler_Combo .rsHeader .rsNav .rsNextDay {
      padding: 8px;
      border-right: 1px solid #cfd8dc; }
    .RadScheduler_Combo .rsHeader .rsNav .rsToday:before {
      display: none; }
    .RadScheduler_Combo .rsHeader .rsNav > li:first-child .rsButton {
      border-radius: 2px 0 0 2px; }
    .RadScheduler_Combo .rsHeader .rsNav > li:last-child .rsButton {
      border-radius: 0 2px 2px 0; }
    .RadScheduler_Combo .rsHeader .rsNav > li:only-child .rsButton {
      border-radius: 2px; }
    .RadScheduler_Combo .rsHeader .rsViews {
      margin: -5px -5px -5px 5px; }
    .RadScheduler_Combo .rsHeader .rsViews .rsButton {
      padding: 13px; }
  .RadScheduler_Combo .rsFooter {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    padding: 5px;
    border-radius: 0 0 2px 2px; }
    .RadScheduler_Combo .rsFooter .rsFullTime {
      padding: 8px;
      border-width: 0;
      color: #8BC34A;
      background-color: transparent; }
      .RadScheduler_Combo .rsFooter .rsFullTime .p-icon {
        display: none; }
    .RadScheduler_Combo .rsFooter .rsFullTime:hover {
      color: #8BC34A;
      background-color: rgba(139, 195, 74, 0.12); }
  .RadScheduler_Combo .rsSpacerCell,
  .RadScheduler_Combo .rsHorizontalHeaderWrapper,
  .RadScheduler_Combo .rsVerticalHeaderWrapper {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff; }
  .RadScheduler_Combo .rsSpacerCell,
  .RadScheduler_Combo .rsAllDayHeader {
    border-color: #CFD8DC; }
  .RadScheduler_Combo .rsHorizontalHeaderTable {
    font-size: .85em;
    text-align: left; }
  .RadScheduler_Combo .rsHorizontalHeaderTable th {
    padding: 0 16px;
    border-color: #CFD8DC; }
  .RadScheduler_Combo .rsHorizontalHeaderTable th i {
    font-size: 4em;
    font-weight: 100;
    font-style: normal;
    display: block; }
  .RadScheduler_Combo .rsVerticalHeaderTable {
    font-size: .85em; }
  .RadScheduler_Combo .rsVerticalHeaderTable th {
    border-color: transparent #CFD8DC;
    font-weight: normal;
    text-transform: uppercase;
    overflow: visible; }
  .RadScheduler_Combo .rsVerticalHeaderTable .rsMainHeader th:first-child {
    border-bottom-color: #CFD8DC; }
  .RadScheduler_Combo .rsVerticalHeaderTable th .rsAmPm {
    position: static;
    font: inherit;
    text-transform: uppercase; }
  .RadScheduler_Combo .rsAllDayRow td,
  .RadScheduler_Combo .rsContentTable .rsAllDayRow td {
    border-color: #CFD8DC; }
  .RadScheduler_Combo .rsContentTable td {
    border-color: #e7ecee #e7ecee; }
  .RadScheduler_Combo .rsContentTable .rsAlt td {
    border-color: #CFD8DC #e7ecee; }
  .RadScheduler_Combo .rsOtherMonth,
  .RadScheduler_Combo .rsNonWorkHour,
  .RadScheduler_Combo .rsSunCol,
  .RadScheduler_Combo .rsSatCol {
    background: #f4f7f8; }
  .RadScheduler_Combo .rsApt {
    color: #ffffff; }
  .RadScheduler_Combo .rsAptContent {
    border-radius: 2px;
    color: #ffffff;
    background-color: #8BC34A; }
  .RadScheduler_Combo .rsAptResize:before {
    background-color: #ffffff; }
  .RadScheduler_Combo .rsOvertimeArrow {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8;
    border-width: 0;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
  .RadScheduler_Combo .rsOvertimeArrow:hover {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadScheduler_Combo .rsOvertimeArrow .rsIcon {
    margin: -.5em 0 0 -.5em;
    position: absolute;
    top: 50%;
    left: 50%; }
  .RadScheduler_Combo .rsResourceMarker {
    background-color: #f6f7f8; }
  .RadScheduler_Combo .rsMonthView .rsHorizontalHeaderTable th {
    border-right-width: 0; }
  .RadScheduler_Combo .rsMonthView .rsDateBox {
    padding: 0 16px; }
  .RadScheduler_Combo .rsMonthView .rsTodayCell {
    color: #03A9F4; }
  .RadScheduler_Combo .rsMonthView .rsContentTable td {
    border-right-width: 0; }
  .RadScheduler_Combo .rsYearView .rsMonthHeader {
    border-width: 0;
    background: #ECEFF1;
    text-transform: uppercase; }
  .RadScheduler_Combo .rsYearView .rsDateHeader {
    border-color: transparent;
    border-radius: 100%; }
  .RadScheduler_Combo .rsYearView .rsDateHeader:hover {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadScheduler_Combo .rsYearView .rsOccupiedSlot .rsDateHeader {
    background-color: #CFD8DC;
    border-radius: 100%; }
  .RadScheduler_Combo .rsYearView .rsOccupiedSlot .rsDateHeader:hover {
    border-color: #8BC34A;
    color: #ffffff;
    background-color: #03A9F4; }
  .RadScheduler_Combo .rsYearView .rsTodayCell .rsDateHeader {
    border-color: transparent;
    color: #8BC34A;
    background-color: transparent; }
  .RadScheduler_Combo .rsYearView .rsSatCol:not(.rsOccupiedSlot),
  .RadScheduler_Combo .rsYearView .rsSunCol:not(.rsOccupiedSlot) {
    color: #a2adb2; }
  .RadScheduler_Combo .rsYearView .rsYearMonthsWrap {
    border-color: white; }
  .RadScheduler_Combo .rsYearView .rsTooltip .rsToolTipContent {
    border-width: 0;
    border-radius: 2px;
    color: white;
    background-color: rgba(69, 90, 100, 0.9); }
  .RadScheduler_Combo .rsYearView .rsTooltip .rsCategoryPattern .rsResourceMarker {
    background-color: #f6f7f8; }
  .RadScheduler_Combo .rsYearView .rsTooltip .rsToolTipArrow {
    color: white;
    background-color: rgba(69, 90, 100, 0.9); }
  .RadScheduler_Combo .rsYearView .rsTooltip .rsToolTipArrowUp {
    border-radius: 2px 2px 0 0; }
  .RadScheduler_Combo .rsYearView .rsTooltip .rsToolTipArrowDown {
    border-radius: 0 0 2px 2px; }
  .RadScheduler_Combo .rsYearView .rsToolTipCallOut {
    display: none; }
  .RadScheduler_Combo .rsYearView .rsTooltipRight .rsToolTipCallOut {
    border-right-color: #CFD8DC; }
  .RadScheduler_Combo .rsYearView .rsTooltipRight .rsToolTipCallOut:before {
    border-right-color: #ffffff; }
  .RadScheduler_Combo .rsYearView .rsTooltipLeft .rsToolTipCallOut {
    border-left-color: #CFD8DC; }
  .RadScheduler_Combo .rsYearView .rsTooltipLeft .rsToolTipCallOut:before {
    border-left-color: #ffffff; }
  .RadScheduler_Combo .rsAgendaView .rsDateBox {
    padding-left: 53px;
    min-height: 45px;
    font-size: 0.8571428571em; }
    .RadScheduler_Combo .rsAgendaView .rsDateBox strong {
      width: 1em;
      height: 1em;
      font-size: 3.2142857143em;
      top: 0; }
    .RadScheduler_Combo .rsAgendaView .rsDateBox small {
      opacity: .75;
      font-size: 1em; }
  .RadScheduler_Combo .rsAgendaTable th, .RadScheduler_Combo .rsAgendaTable td {
    border-bottom-color: #CFD8DC;
    border-right-color: #CFD8DC; }
  .RadScheduler_Combo .rsAgendaTable .rsAgendaRowHovered {
    border-color: #ECEFF1;
    color: #455A64;
    background-color: #ECEFF1; }
  .RadScheduler_Combo .rsAgendaTable .rsAgendaRowSelected {
    border-color: transparent;
    color: #03A9F4;
    background-color: transparent; }
  .RadScheduler_Combo .rsSelectedSlot {
    background: #E1F5FE; }
  .RadScheduler_Combo .rsAptCreate {
    background: #ECEFF1; }
  .RadScheduler_Combo .rsDialog {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #ffffff;
    padding: 0;
    border-width: 0;
    border-radius: 2px;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.2), 0 15px 12px rgba(0, 0, 0, 0.2); }
    .RadScheduler_Combo .rsDialog .rsTitle {
      border-color: #8BC34A;
      color: #ffffff;
      background-color: #8BC34A;
      border-width: 0;
      border-radius: 2px 2px 0 0;
      font-size: 1.4285714286em;
      font-weight: 500; }
      .RadScheduler_Combo .rsDialog .rsTitle .p-i-notification {
        margin-left: -2px;
        margin-right: 8px; }
    .RadScheduler_Combo .rsDialog .rsButtons {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #f4f7f8;
      padding: 6px 8px;
      border-width: 1px 0 0;
      border-style: solid;
      border-radius: 0 0 2px 2px; }
    .RadScheduler_Combo .rsDialog .rsButtons .rsAptEditCancel {
      margin-left: 5px; }
    .RadScheduler_Combo .rsDialog .rsAdvEditClose {
      right: 10px;
      margin-top: -15px; }
    .RadScheduler_Combo .rsDialog .rsButton {
      padding: 8px;
      min-width: 64px;
      border-width: 0;
      color: #455A64;
      background-color: transparent; }
      .RadScheduler_Combo .rsDialog .rsButton:hover {
        color: #455A64;
        background-color: rgba(69, 90, 100, 0.12); }
    .RadScheduler_Combo .rsDialog .rsButton.rsPrimary {
      color: #8BC34A; }
      .RadScheduler_Combo .rsDialog .rsButton.rsPrimary:hover {
        color: #8BC34A;
        background-color: rgba(139, 195, 74, 0.12); }
  .RadScheduler_Combo .rsModalDialog .rsBody {
    padding: 30px; }
  .RadScheduler_Combo .rsInlineForm {
    padding-top: 1px; }
    .RadScheduler_Combo .rsInlineForm .rsTextarea {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: transparent;
      margin: 16px;
      padding: 0;
      border-width: 0;
      border-bottom-width: 1px; }
    .RadScheduler_Combo .rsInlineForm .rsIconCornerBR {
      width: 0;
      height: 0;
      border-width: 8px; }
    .RadScheduler_Combo .rsInlineForm .rsResize .p-icon {
      height: 8px; }
  .RadScheduler_Combo .rsAdvancedEdit {
    border: 0; }
  .RadScheduler_Combo .RadInput {
    padding: 0; }
    .RadScheduler_Combo .RadInput .riContentWrapper {
      padding: 0 13px; }
  .RadScheduler_Combo .RadPicker .RadInput {
    padding: 0 13px; }
  .RadScheduler_Combo .p-icon:before {
    font-family: "Material Icons";
    font-size: 18px; }
  .RadScheduler_Combo .p-i-clock:before {
    content: "\e192"; }
  .RadScheduler_Combo .p-i-calendar:before {
    content: "\e878"; }
  .RadScheduler_Combo .p-i-notification:before,
  .RadScheduler_Combo .p-i-reminder:before {
    content: "\e7f4"; }
  .RadScheduler_Combo .p-i-recurrence:before {
    content: "\e5d5"; }
  .RadScheduler_Combo .p-i-non-recurrence:before {
    content: "\e5d5"; }
  .RadScheduler_Combo [class*=p-i-arrow-60]:before {
    font-family: WebComponentsIcons;
    font-size: 16px; }
  .RadScheduler_Combo .rsNav .p-i-arrow-60-right:before,
  .RadScheduler_Combo .rsNav .p-i-arrow-60-left:before {
    font-family: "Material Icons";
    font-size: 18px; }
  .RadScheduler_Combo .rsNav .p-i-arrow-60-right:before {
    content: "\e5cc"; }
  .RadScheduler_Combo .rsNav .p-i-arrow-60-left:before {
    content: "\e5cb"; }
  .RadScheduler_Combo .p-i-arrow-45-down-right:before {
    content: "\e1b9";
    font-size: 12px; }
  .RadScheduler_Combo .p-i-x:before,
  .RadScheduler_Combo .p-i-close:before {
    content: "\e5cd"; }
  .RadScheduler_Combo .p-i-delete:before {
    content: "\e5cd"; }
  .RadScheduler_Combo .p-icon.p-i-recurrence-exception:before {
    font: 16px/1 "WebComponentsIcons";
    text-transform: none;
    text-align: center;
    content: "\e104"; }

.RadScheduler_Combo .rfbGroup .rfbLabel {
  font-size: .85em;
  font-weight: 500;
  line-height: inherit; }
