.RadSplitter_Combo {
  font-family: "Roboto", "Noto", sans-serif;
  border-color: #CFD8DC; }
  .RadSplitter_Combo .rspLoading {
    background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Combo.Common.loading.gif")%>'); }
  .RadSplitter_Combo .rspResizeBar,
  .RadSplitter_Combo .rspSlideContainerResize,
  .RadSplitter_Combo .rspResizeBarHorizontal,
  .RadSplitter_Combo .rspSlideContainerResizeHorizontal {
    background-color: #ffffff;
    color: #455A64;
    border-color: #CFD8DC; }
  .RadSplitter_Combo .rspPane {
    border-color: #CFD8DC; }
  .RadSplitter_Combo .rspPaneHorizontal {
    border-color: #CFD8DC; }
  .RadSplitter_Combo .rspSlideHeader,
  .RadSplitter_Combo .rspSlideTitleContainer {
    background-color: #8BC34A; }
  .RadSplitter_Combo .rspSlideTitle {
    color: #455A64; }
  .RadSplitter_Combo .rspSlideTitleContainer,
  .RadSplitter_Combo .rspSlideHeaderIconWrapper {
    border-top: 1px solid #8BC34A;
    border-bottom: 1px solid #8BC34A; }
  .RadSplitter_Combo .rspSlideHeaderDockIcon,
  .RadSplitter_Combo .rspSlideHeaderUndockIcon,
  .RadSplitter_Combo .rspSlideHeaderCollapseIcon {
    line-height: 1.428571429em;
    margin: 0 4px 0 0;
    padding: 7px;
    border-radius: 45px;
    color: #ffffff; }
  .RadSplitter_Combo .rspSlideHeaderDockIcon:hover,
  .RadSplitter_Combo .rspSlideHeaderUndockIcon:hover,
  .RadSplitter_Combo .rspSlideHeaderCollapseIcon:hover {
    background-color: rgba(255, 255, 255, 0.12); }
  .RadSplitter_Combo .rspSlideContent {
    background-color: #ffffff;
    color: #455A64; }
  .RadSplitter_Combo .rspTabsContainer {
    background-color: #f4f7f8; }
  .RadSplitter_Combo .rspResizeBar,
  .RadSplitter_Combo .rspSlideContainerResize {
    border-right-color: #CFD8DC; }
  .RadSplitter_Combo .rspResizeBarOver,
  .RadSplitter_Combo table.rspSlideContainer td.rspSlideContainerResizeOver {
    background-color: #ECEFF1;
    border-color: #ECEFF1; }
  .RadSplitter_Combo .rspResizeBarHorizontal,
  .RadSplitter_Combo .rspSlideContainerResizeHorizontal {
    border-color: #CFD8DC; }
  .RadSplitter_Combo .rspResizeBarOverHorizontal,
  .RadSplitter_Combo table.rspSlideContainer td.rspSlideContainerResizeOverHorizontal {
    background-color: #ECEFF1;
    border-color: #ECEFF1; }
  .RadSplitter_Combo .rspPaneTabContainer,
  .RadSplitter_Combo .rspBottom .rspPaneTabContainer,
  .RadSplitter_Combo .rspTop .rspPaneTabContainer {
    background-color: #f4f7f8;
    color: #455A64;
    border-color: #f4f7f8; }
  .RadSplitter_Combo .rspPaneTabContainer:hover,
  .RadSplitter_Combo .rspBottom .rspPaneTabContainer:hover,
  .RadSplitter_Combo .rspTop .rspPaneTabContainer:hover {
    background-color: #ECEFF1;
    color: #455A64;
    border-color: #ECEFF1; }
  .RadSplitter_Combo .rspPaneTabContainerExpanded,
  .RadSplitter_Combo .rspBottom .rspPaneTabContainerExpanded,
  .RadSplitter_Combo .rspTop .rspPaneTabContainerExpanded {
    color: #8BC34A;
    border-color: #8BC34A; }
  .RadSplitter_Combo .rspTop .rspPaneTabContainerExpanded {
    border-width: 0 0 2px; }
  .RadSplitter_Combo .rspPaneTabContainerExpanded {
    border-width: 0 2px 0 0; }
  .RadSplitter_Combo .rspBottom .rspPaneTabContainerExpanded {
    border-width: 2px 0 0; }
  .RadSplitter_Combo .rspCollapseBarExpand,
  .RadSplitter_Combo .rspCollapseBarCollapse,
  .RadSplitter_Combo .rspCollapseBarHorizontalExpand,
  .RadSplitter_Combo .rspCollapseBarHorizontalCollapse {
    background-color: transparent;
    border: none;
    color: #607D8B; }
  .RadSplitter_Combo .rspCollapseBarExpandOver,
  .RadSplitter_Combo .rspCollapseBarCollapseOver,
  .RadSplitter_Combo .rspCollapseBarHorizontalExpandOver,
  .RadSplitter_Combo .rspCollapseBarHorizontalCollapseOver {
    background-color: transparent;
    border: none; }
  .RadSplitter_Combo .rspCollapseBarHorizontalCollapse + .rspCollapseBarHorizontalExpand {
    margin: 0 0 0 -2px; }
  .RadSplitter_Combo .rspCollapseBarCollapse + .rspCollapseBarExpand {
    margin: -3px 0 0; }
  .RadSplitter_Combo .rspResizeBar .rspCollapseBarSpacer {
    width: 8px !important; }
  .RadSplitter_Combo .rspResizeBarHorizontal .rspCollapseBarSpacer {
    height: 8px !important; }
  .RadSplitter_Combo .rspSlideContainer td.rspSlideContainerResize {
    padding: 0 1px;
    border-color: #CFD8DC; }
  .RadSplitter_Combo .rspResizeBar .rspCollapseBarSpacer {
    width: 6px !important; }
  .RadSplitter_Combo .rspResizeBarHorizontal .rspCollapseBarSpacer {
    height: 6px !important; }
  .RadSplitter_Combo .rspCollapseBarExpand,
  .RadSplitter_Combo .rspCollapseBarCollapse {
    height: 26px;
    line-height: 26px;
    width: 6px;
    margin: 2px 0; }
  .RadSplitter_Combo .rspCollapseBarHorizontalExpand,
  .RadSplitter_Combo .rspCollapseBarHorizontalCollapse {
    height: 6px;
    line-height: 6px; }
  .RadSplitter_Combo .rspSlideContainer td.rspSlideContainerResizeHorizontal {
    padding: 2px 0 3px 0; }
  .RadSplitter_Combo .rspPaneHorizontal .rspPaneTabContainer {
    height: 22px !important;
    overflow: hidden; }
  .RadSplitter_Combo .rspSlideHeader table {
    height: 48px;
    background-color: #8BC34A; }
  .RadSplitter_Combo .rspSlideHeader .rspSlideTitle {
    color: #ffffff;
    height: 46px;
    line-height: 46px; }
  .RadSplitter_Combo .rspSlideHeader .rspSlideHeaderIconWrapper {
    padding: 0 2px 0 0; }
  .RadSplitter_Combo .rspPaneTabText {
    text-transform: uppercase; }

div.RadSplitter .rspHelperBarDrag,
div.RadSplitter .rspHelperBarSlideDrag {
  background-color: #03A9F4 !important;
  opacity: 1; }

.rspSlideHeaderDockIcon .t-ripple-container,
.rspSlideHeaderUndockIcon .t-ripple-container,
.rspSlideHeaderCollapseIcon .t-ripple-container {
  top: -1px;
  left: -2px; }
