.TreeListToolTip_Combo {
  font-family: "Roboto", "Noto", sans-serif; }

.RadTreeList_Combo {
  border-color: #CFD8DC;
  background: #ffffff;
  color: #455A64;
  font-family: "Roboto", "Noto", sans-serif; }
  .RadTreeList_Combo .t-button {
    padding: 7px;
    border-radius: 90px;
    color: #455A64; }
    .RadTreeList_Combo .t-button:hover {
      border-color: #ECEFF1;
      color: #455A64;
      background-color: #ECEFF1; }
    .RadTreeList_Combo .t-button:active {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #CFD8DC; }
  .RadTreeList_Combo .rtlTable a {
    color: #8BC34A; }
  .RadTreeList_Combo .rtlTable td {
    vertical-align: middle; }
  .RadTreeList_Combo tr.rtlHeader {
    background-color: #ffffff;
    height: 47px;
    height: calc(1.4285714286em + 27px); }
    .RadTreeList_Combo tr.rtlHeader th {
      padding: 5px 15px;
      font-size: .857em;
      font-weight: 500;
      line-height: 1.6666666667; }
    .RadTreeList_Combo tr.rtlHeader .t-button {
      font-size: 1.167em;
      line-height: 1.4285714286; }
  .RadTreeList_Combo .rtlHeader a {
    color: #455A64; }
  .RadTreeList_Combo .rtlScroller {
    border-color: #CFD8DC; }
  .RadTreeList_Combo div.rtlHeader,
  .RadTreeList_Combo .rtlHeader th {
    border-color: #CFD8DC #ffffff; }
  .RadTreeList_Combo .rtlREdit,
  .RadTreeList_Combo .rtlR,
  .RadTreeList_Combo .rtlA {
    height: 47px;
    height: calc(1.5384615385em + 27px);
    font-size: 0.929em;
    line-height: 1.5384615385; }
    .RadTreeList_Combo .rtlREdit td,
    .RadTreeList_Combo .rtlR td,
    .RadTreeList_Combo .rtlA td {
      padding: 5px 15px; }
    .RadTreeList_Combo .rtlREdit .t-button,
    .RadTreeList_Combo .rtlR .t-button,
    .RadTreeList_Combo .rtlA .t-button {
      font-size: 1.077em;
      line-height: 1.4285714286; }
  .RadTreeList_Combo .rtlHBorders .rtlR td,
  .RadTreeList_Combo .rtlHBorders .rtlA td,
  .RadTreeList_Combo .rtlHBorders .rtlREdit td,
  .RadTreeList_Combo .rtlHBorders .rtlRFooter td {
    padding-bottom: 5px; }
  .RadTreeList_Combo .rtlA {
    background-color: #ffffff; }
  .RadTreeList_Combo .rtlRFooter {
    background-color: #ffffff; }
  .RadTreeList_Combo .rtlRFooter td {
    border-color: #ffffff; }
  .RadTreeList_Combo .rtlREdit {
    background-color: #edf6e3; }
  .RadTreeList_Combo .rtlR td,
  .RadTreeList_Combo .rtlA td,
  .RadTreeList_Combo .rtlREdit td,
  .RadTreeList_Combo .rtlEditForm {
    border-color: #CFD8DC #ffffff; }
  .RadTreeList_Combo .rtlRSel {
    background: #E1F5FE;
    color: #455A64; }
  .RadTreeList_Combo .rtlRSel a {
    color: #455A64; }
  .RadTreeList_Combo .rtlRSel {
    background-color: #E1F5FE; }
  .RadTreeList_Combo .rtlRActive .rtlCF {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset 5px 0px 5px -5px transparent; }
  .RadTreeList_Combo .rtlRActive .rtlCF ~ td {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent; }
  .RadTreeList_Combo .rtlRActive .rtlCF ~ td:last-child {
    box-shadow: inset 0px 5px 5px -5px transparent, inset 0px -5px 5px -5px transparent, inset -5px 0px 5px -5px transparent; }
  .RadTreeList_Combo .rtlRActive td {
    border-color: #E1F5FE; }
  .RadTreeList_Combo .rtlVBorders td.rtlL,
  .RadTreeList_Combo .rtlLines td.rtlL {
    background-color: #ffffff; }
  .RadTreeList_Combo .rtlExpand,
  .RadTreeList_Combo .rtlCollapse {
    border: 0 none; }
    .RadTreeList_Combo .rtlExpand:hover,
    .RadTreeList_Combo .rtlCollapse:hover {
      background: none; }
  .RadTreeList_Combo .rtlExpandIcon:before,
  .RadTreeList_Combo .rtlCollapseIcon:before,
  .RadTreeList_Combo .t-i-arrow-down:before {
    font-family: "Material Icons";
    font-size: 18px; }
  .RadTreeList_Combo .rtlCollapseIcon:before {
    content: '\e5cf'; }
  .RadTreeList_Combo .rtlExpandIcon:before {
    content: '\e5cc';
    color: #263238; }
  .RadTreeList_Combo .rtlSortAscIcon,
  .RadTreeList_Combo .rtlSortDescIcon {
    color: #263238; }
    .RadTreeList_Combo .rtlSortAscIcon:before,
    .RadTreeList_Combo .rtlSortDescIcon:before {
      font-family: "Material Icons";
      font-size: 18px; }
  .RadTreeList_Combo .rtlSortDescIcon:before {
    content: "\e5db"; }
  .RadTreeList_Combo .rtlSortAscIcon:before {
    content: "\e5d8"; }
  .RadTreeList_Combo .rtlPagerCell {
    color: #455A64;
    padding: 5px;
    border-color: #CFD8DC; }
    .RadTreeList_Combo .rtlPagerCell .rtlIcon:before {
      font-family: "WebComponentsIcons"; }
    .RadTreeList_Combo .rtlPagerCell .rtlAdvPart {
      line-height: inherit; }
    .RadTreeList_Combo .rtlPagerCell .rtlNumPart a {
      color: #ffffff; }
      .RadTreeList_Combo .rtlPagerCell .rtlNumPart a .t-ripple {
        border-radius: 90px; }
    .RadTreeList_Combo .rtlPagerCell .rtlPagerButton {
      border: 0 none;
      background-color: #f4f7f8;
      color: #455A64;
      box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.2); }
    .RadTreeList_Combo .rtlPagerCell .rtlActionButton {
      border-radius: 90px; }
      .RadTreeList_Combo .rtlPagerCell .rtlActionButton:hover {
        border-color: #ECEFF1;
        color: #455A64;
        background-color: #ECEFF1; }
    .RadTreeList_Combo .rtlPagerCell .rtlNumPart a {
      color: #455A64;
      text-align: center;
      border-width: 0;
      padding: 8px;
      min-width: 1.4285714286em; }
      .RadTreeList_Combo .rtlPagerCell .rtlNumPart a:hover {
        border-color: #ECEFF1;
        color: #455A64;
        background-color: #ECEFF1;
        border-radius: 90px; }
      .RadTreeList_Combo .rtlPagerCell .rtlNumPart a.rtlCurrentPage {
        border-bottom: 2px solid #8BC34A;
        color: #8BC34A;
        background: none;
        border-radius: 0;
        margin-bottom: -5px;
        padding-bottom: 11px; }
    .RadTreeList_Combo .rtlPagerCell .RadInput,
    .RadTreeList_Combo .rtlPagerCell .RadComboBox,
    .RadTreeList_Combo .rtlPagerCell .RadDropDownList {
      min-width: 90px; }
    .RadTreeList_Combo .rtlPagerCell .rtlActionButton {
      box-sizing: content-box; }
    .RadTreeList_Combo .rtlPagerCell .rtlPagerButton {
      border-color: #CFD8DC;
      color: #455A64;
      background-color: #f4f7f8;
      padding: 8px 13px;
      border-radius: 0; }
      .RadTreeList_Combo .rtlPagerCell .rtlPagerButton:hover {
        border-color: #ECEFF1;
        color: #455A64;
        background-color: #ECEFF1; }
    .RadTreeList_Combo .rtlPagerCell .rtlInfoPart,
    .RadTreeList_Combo .rtlPagerCell .rtlSliderLabel,
    .RadTreeList_Combo .rtlPagerCell .rtlPagerLabel {
      font-size: .857em;
      color: #607D8B;
      font-weight: 500;
      line-height: 1.6666666667;
      padding-top: 8px;
      padding-bottom: 8px; }
      .RadTreeList_Combo .rtlPagerCell .rtlInfoPart strong,
      .RadTreeList_Combo .rtlPagerCell .rtlSliderLabel strong,
      .RadTreeList_Combo .rtlPagerCell .rtlPagerLabel strong {
        font-weight: 500;
        font-size: 1.167em;
        line-height: 1.4285714286;
        color: #455A64; }
    .RadTreeList_Combo .rtlPagerCell .RadSlider {
      margin: 7px 0; }
  .RadTreeList_Combo .rtlCommandCell {
    padding: 0;
    border-color: #CFD8DC;
    color: #455A64;
    background-color: #f4f7f8; }
    .RadTreeList_Combo .rtlCommandCell .t-button {
      padding: 13px 15px;
      width: auto;
      height: auto;
      border-radius: 0;
      border: 0 none; }
  .RadTreeList_Combo .rtlFooter .rtlCommandCell,
  .RadTreeList_Combo tfoot .rtlCommandCell {
    color: #455A64;
    background-color: #f4f7f8;
    background-image: linear-gradient(); }
  .RadTreeList_Combo .rtlREdit [type="text"],
  .RadTreeList_Combo .rtlEditForm td > [type="text"] {
    border-color: #CFD8DC;
    color: #455A64;
    background-color: transparent;
    border-style: solid;
    border-width: 0 0 1px;
    padding: 8px 0 7px;
    outline: none;
    font: inherit;
    font-size: 1.077em;
    margin-left: 13px; }
    .RadTreeList_Combo .rtlREdit [type="text"]:hover,
    .RadTreeList_Combo .rtlEditForm td > [type="text"]:hover {
      border-color: #90A4AE;
      color: #455A64;
      background-color: transparent; }
    .RadTreeList_Combo .rtlREdit [type="text"]:active, .RadTreeList_Combo .rtlREdit [type="text"]:focus,
    .RadTreeList_Combo .rtlEditForm td > [type="text"]:active,
    .RadTreeList_Combo .rtlEditForm td > [type="text"]:focus {
      border-color: #8BC34A;
      color: #455A64;
      background-color: transparent;
      box-shadow: 0 -1px 0 #8BC34A inset; }
    .t-ie .RadTreeList_Combo .rtlREdit [type="text"], .t-ie
    .RadTreeList_Combo .rtlEditForm td > [type="text"] {
      height: 36px;
      height: calc(1.4285714286em + 16px); }
  .RadTreeList_Combo .rtlEditForm {
    border: 1px solid #CFD8DC; }
    .RadTreeList_Combo .rtlEditForm td > [type="text"] {
      margin-left: 13px; }
    .RadTreeList_Combo .rtlEditForm td > label {
      font-size: .923em;
      color: #607D8B;
      font-weight: 500;
      line-height: 1.6666666667;
      padding-top: 8px;
      padding-bottom: 8px; }
    .RadTreeList_Combo .rtlEditForm table {
      margin: .5em; }
    .RadTreeList_Combo .rtlEditForm .rtlHeader {
      padding: 0;
      height: auto !important;
      background-color: #8BC34A;
      color: #ffffff; }
      .RadTreeList_Combo .rtlEditForm .rtlHeader > div:first-child {
        padding: 5px 10px; }
  .RadTreeList_Combo.RadTreeListRTL .rtlExpandIcon:before {
    content: '\E003'; }

.TreeListReorderTop_Combo,
.TreeListReorderBottom_Combo {
  font-size: 2.2em;
  color: #000;
  text-shadow: 0 0 1px #fff;
  text-indent: 2px; }

.RadTreeList_Combo .rtlDragHandle {
  background-image: url('<%=WebResource("Telerik.Web.UI.Skins.Combo.Grid.rgDrag.gif")%>'); }

.TreeListToolTip_Combo {
  border-color: #828282;
  background: #ffffff;
  color: #455A64; }
